<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Keunotor Game App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/staff/createorder-staff.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="pure-menu pure-menu-horizontal">
            <a href="/index.html" class="pure-menu-heading pure-menu-link">Keunotor Game Shop</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/logout" class="pure-menu-link">Logout</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/createclient_sheet.html" class="pure-menu-link">Create new client sheet</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/client_sheets.html" class="pure-menu-link">Client Sheets</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/createproductsheet.html" class="pure-menu-link">Create new product sheet</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/productsheets.html" class="pure-menu-link">Products</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/createorder.html" class="pure-menu-link">Create new order</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/staff/orders.html" class="pure-menu-link">Orders</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>New order</h1>
            <div>
                <h2>Select client</h2>
                <select v-model="newOrder.clientId">
                    <option v-for="client in clients" :value="client.id">
                        {{client.firstname}} {{client.lastname}}
                    </option>
                </select>
                <!--                <span>{{clientSelected}}</span> Show client id -->
            </div>
            <div>
                <h2>Select Products</h2>
                <div  v-for="(product, indexProduct) in products" v-bind:key="product.name">
                    <span>
                        <label  :for="product.name">{{product.name}}</label>
                        <input type="checkbox" v-on:change="addProduct($event, product)" :id="product.name" :value="product.name">
                    </span>
                </div>
                <div>
                    <button v-on:click="makeOrder()">Make order</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>